DB_HOST=localhost
DB_PORT=5432
DB_NAME=event_manager_db
DB_USER=admin
DB_PASSWORD=change_me
DB_SSLMODE=disable
DB_SCHEMA=public
POSTGRES_DB=event_manager_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me